<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center"><h1>About Pinterested</h1></div>
      <div class="panel-body">
        <div class="center">
          <p>Pinterested is a clone of the famous Pinterest web app. It was created by <a href="//twitter.com/canigetapickle" target="_blank">Dan Santos</a> using the Rails framework. Some of the technologies featured in this app include Devise for user authentication, automatic Bootstrap pagination, jQuery Masonry/transitions, and Amazon S3 as a replacement for Heroku's default Postgres database.</p>
        </div>
      </div>
    </div>
  </div>
</div>