// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-font-family {
  font-family: 'Lobster', cursive;
}

.red {
  color: #cb2027;
}

.navbar-link-font-family {
  font-family: 'Roboto', sans-serif;
}